html,
body {
  margin:0;
  padding:0;
}

body {
  background: $pad-cream-color url('#{$pad-img-path}/texture_triangles30.png') repeat;
}

@media screen and (min-width: 600px) {
  html,
  body {
    min-height: $min-content-hegiht;
    height: auto !important;
    height: 100%;
  }

  #wrapper {
    min-height:100%;
    position:relative;
    height: auto !important;
    height: 100%;
    margin: 0 auto -#{$footer-height};
  }

  #content {
    padding-bottom: $footer-height;
  }
}

@media screen and (max-width: 600px) {
  #content {
    padding-top: $footer-height;
  }
}

.push {
  height: $footer-height;
}