<md-toolbar layout="row" class="md-toolbar-tools" md-scroll-shrink>
  <!--
  <a ui-sref="main" class="logo-nabvar"><img src="/assets/images/log_pad_large.png"></a>
  
  <span flex></span>
  
  
  <md-button ui-sref="create" class="md-raised">
    <md-icon md-font-icon="fa-plus" class="fa"  aria-label=""></md-icon>
    <span>Nuevo Recurso</span>
  </md-button>

  <md-menu md-position-mode="target-right target" md-offset="0 50">
    <md-button  class="md-raised" ng-click="$mdMenu.open($event)">
        <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
    </md-button>
    <md-menu-content width="3" >
      <md-menu-item>
        <md-button ui-sref="listado">
          <md-icon md-font-icon="fa-table" class="fa"  aria-label=""></md-icon>
          <span>Button</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>-->
</md-toolbar>